docs/en/config.dtd

<!-- 
     File : config.dtd     
     Author: Keith Isdale <k_isdale@tpg.com.au>
     Date : Tue 29th Jan 2002  
     Description: DocType definition for dataBase generated by xslSearchQuery()
     Copyright Reserved Under GPL     
-->

<!ELEMENT config ((intoption | stringoption)*>
<!ELEMENT % configbase 
  "name  CDATA #IMPLIED
   value CDATA #IMPLIED"
>

<!ELEMENT intoption EMPTY>
<!ATTLIST intoption 
  %configbase;
>

<!ELEMENT stringoption EMPTY>
<!ATTLIST stringoption 
  %configbase;
>
